body{
  background: white;
  color: rgba(255, 255, 255, 0.9);

  font-family: 'Georgia', serif;
  font-size: 32px;
  height: 500px;
  position: relative;
  padding: 50px, 150px;
}
#navbar {
background-color: whitesmoke;
font-size: 20px;
text-align: center;
position: fixed; 
width: 1290px;
}
#navbar ul {
  background-color: whitesmoke;
  padding-left: 0;
  }
#navbar ul li  {
  display: inline;
  margin-right: 25px;
}
#navbar ul li a {
  text-decoration: none;
  color: #555;
  padding: 5px, 10px;
  border-radius: 5px;
}
#navbar ul li a:hover{
  color: #ffffff;
  background-color: #555;
}

#img {
  width: 1290px;
  height: 700px;
}